  body
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #2A2C2E;
  }
  
  #root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider-wrapper {
    width: 600px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider {
    width: 2000px;
    
  }
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid whitesmoke;
    background-color: transparent; 
  }

  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid whitesmoke;
    background-color: transparent;
    margin-left: 25px;
  }

  .slider-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    float: left;
    position: relative;
    transition: all .2s linear;
    /* border: 1px solid black; */
  }
  
  /* .hide {
    float: left;
    position: relative;
    text-align: center;
    transition: all .2s linear;
  } */
  